# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Ignore local MLflow experiment runs and databases
mlflow.db
mlruns/
# Data and Datasets (Crucial for ML)
data/
dataset/
datasets/

# Model files
*.pickle
*.pickle.dat
*.joblib

# MLflow Tracking & Artifacts (Fixed)
mlruns/
mlflow/
mlflow.db

# Logs and temporary files
*.log
*.tmp
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Output files
*.out
*.csv
*.tsv

# Other temporary files
*.swp
*.bak
